@import url('https://fonts.font.im/css2?family=Noto+Serif:wght@200;300;400;500;600;700;900&family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&family=JetBrains+Mono:wght@400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/latin-modern-math');
body {
 	font-family: 'Noto Serif', 'Noto Serif SC', serif;
	line-height: 1.8;

 	max-width: 80ch;
	min-height: 100vh;
	overflow-x: hidden;
	margin: 0 auto;
	padding: 2rem 1.25rem;
	background-color: hsl(210, 20%, 98%);
	text-rendering: optimizeLegibility;
	font-size: 1.0rem;
}

a {
	color: #ce2323;
	text-decoration: underline;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

h1 {
	font-size: 2.5rem;
	text-align: center;
}

h2 {
  font-size: 1.7rem;
  line-height: 2rem;
  margin-top: 3rem;
}

h3 {
  font-size: 1.4rem;
  margin-top: 2.5rem;
}

h4 {
  font-size: 1.2rem;
  margin-top: 2rem;
}

h5 {
  font-size: 1rem;
  margin-top: 1.8rem;
}

h6 {
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  margin-top: 2.5rem;
}



h3,
h4,
h5,
h6 {
  line-height: 1.625rem;
}


h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.3rem;
}
p {
	color: #4d4d4d;
}


math {
	font-size: 1.3rem;
	font-family: 'Latin Modern Math', math;
}

code {
	font-size: 0.9rem;
	line-height: 1.3;
	font-family: 'JetBrains Mono', monospace;
}
